@import 'lightbox.css';

.content-photo h1 {
  margin: 80px auto 80px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.5rem;
}

.photo-container {
  margin-left: auto;
  margin-right: auto;
}

.photo-img {
  width: 100%;
}

.photo-img img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photo-box {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 1px;
}

.photo-desc {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.photo-desc hr {
  border-color: #999;
  border-top: 1px solid rgba(0,0,0,.1);
  width: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.photo-desc .date {
  color: #666;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 576px) {
  .photo-container {
      width: 540px;
  }
}

@media (min-width: 768px) {
  .photo-box {
      max-width: 50%;
  }

  .photo-container {
      width: 720px;
  }
}

@media (min-width: 992px) {
  .photo-box {
      max-width: 33.333333%;
  }

  .photo-container {
      width: 960px;
  }
}

@media (min-width: 1200px) {
  .photo-container {
      width: 1140px;
  }
}